/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#mp_photo_manager * {
  border: 1px solid black;
}

#mp_photo_manager {
  display: grid;

  /* grid-template-columns: 80% 20%;
  grid-template-rows: 80% 20%; */
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1.75fr .65fr;
}

#mp_photo_manager h1 {
  font-size: 14px;
}

#mp_photo_manager h2 {
  font-size: 12px;
}

#mp_photo_manager h3 {
  font-size: 10px;
}

#mp_photo_manager .photo-large {
  grid-column-start: 1;
  grid-column-end: 1;

  grid-row-start: 1;
  grid-row-end: 1;
}

#mp_photo_manager .album-strip {
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 2;
  grid-row-end: 2;

  display: grid;
  grid-template-columns: 1fr 3fr;
}

#mp_photo_manager .photo-strip {
  grid-column-start: 2;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 3;
}



#mp_photo_manager .album-list {
  display: flex;
  align-items: center;
  padding: .5rem;

  overflow-x: scroll;

}

#mp_photo_manager .album {
  min-width: 5rem;
  padding: .25rem;
  height: 128px;
}

#mp_photo_manager .photo-list {
  display: flex;
  flex-direction: column;


}

#mp_photo_manager .photo {
  align-self: center;
  padding: .25rem;
  width: 8rem;
  height: 128px;
}

#mp_photo_manager .upload-photo {
  display: flex;
  width: 8rem;
  justify-content: center;
  align-self: center;

}

#mp_photo_manager h1:not(.site-title):before,
#mp_photo_manager h2:before {
  content: none;
}


@media only screen and (max-width: 480px) {

  /* your CSS here */
  #mp_photo_manager {
    display: grid;
    grid-template-columns: initial;
  }

  #mp_photo_manager .photo-large {
    grid-column-start: 1;
    /* grid-column-end: 2; */
    grid-row-start: 2;
    grid-row-end: 2;
  }

  #mp_photo_manager .album-strip {
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: 1fr 3fr;
  }

  #mp_photo_manager .photo-strip {
    grid-column-start: 1;
    /* grid-column-end: 2; */
    grid-row-start: 3;
    /* grid-row-end: 3; */
  }
}


#mp_photo_manager a.btn {
  transition: background 150ms ease-in-out;
  background: #0073aa;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.88889em;
  font-weight: 700;
  line-height: 1.2;
  outline: none;
  padding: 0.76rem 1rem;
  text-decoration: none;
  vertical-align: bottom;
}

#mp_photo_manager a.btn:hover {
  background: #111;
  cursor: pointer;
}


#mp_photo_manager .create-album a.btn {
  display: block;
  min-width: 4.5rem;
  font-size: .5em;
  padding: 0.5rem 0.5rem;
}
